
{{ 'dynamic-hero.css' | asset_url | stylesheet_tag }}

<section class="dynamic-hero">
<div class="page-width">
    <div class="hero-container">
        <div class="hero-text">
            <h1>
                {% if section.settings.heading !=blank %} {{section.settings.heading }}{% else %} Lorem Ipsum {% endif %}
            </h1>
            <p class="hero-text-para">
                {% if section.settings.subtext !=blank %} {{section.settings.subtext }}{% else %} Lorem Ipsum {% endif %}
            </p>

             <a href="{% if section.settings.button_link !=blank %} {{section.settings.button_link }}{% else %}#{% endif %}" class="hero-btn">
               {% if section.settings.button_label !=blank %} {{section.settings.button_label }}{% else %}Show Now{% endif %}
            </a>
             <p class="caption-text">
                {% if section.settings.captiontext !=blank %} {{section.settings.captiontext }}{% else %} Lorem Ipsum {% endif %}
             </p>
        </div>

        <div class="hero-image-wrap">
    {% if section.settings.hero_image !=blank %}
    <img src="{{ section.settings.hero_image | image_url: width:900 }}"
    alt="Hero image"
    height="100%"
    width="100%"
    >
    {% else %}  
    <img src="{{ section.settings.hero_image | image_url: width:900 }}"
    alt="Hero image"
    height="100%"
    width="100%"
    >
    {% endif %}
</div>
    </div>
</div>

</section>
{% schema %}
{
    "name":"Dynamic Hero",
    "settings":[
        {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"Lorem Ipsum",
    },
    {
        "type": "textarea",
        "id": "subtext",
        "label": "Subtext",
        "default":"Lorem Ipsum",
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default":"Lorem Ipsum",
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
    },
    {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Right Image",
    },
    {
        "type": "textarea",
        "id": "captiontext",
        "label": "Sub text",
        "default":"Lorem Ipsum",
    },
    ],
    "presets": [
        {
        "name":"Dynamic Hero"
    }
    ]
}
{% endschema %}
